/* ID related CSS */

#available-bots {
    overflow-y: scroll;
    height: 100%;
}

#graph-popUp {
    display:none;
    position:absolute;
    top:25%;
    left:25%;
    margin: auto;
    z-index:299;
    background-color: #f9f9f9;
    border-style:solid;
    border-width:3px;
    border-color: #5394ed;
    padding:10px;
    width:50%;
    text-align: center;
}

#graph-popUp-fields {
    width: 100%;
}

#graph-popUp-fields input {
    width: 100%;
}

#graph-popUp-fields td {
    text-align: right;
}

#graph-popUp-title {
    width: 100%;
    font-size:28px;
}

#graph-row {
    display: none;
    height: 90%;
}

#graph-row.col-xs-10 {
    height: 100%;
}

#graph-row.col-xs-2 {
    height: 100%;
}

#graph-tab {
    height: 100%;
}

#mygraph {
    position:relative;
    height: 100%;
    border: 1px solid lightgray;
}

/* Class related CSS */

.btn {
    padding: 5px;
}

.node-key {
    width: 25%;
}

.node-value {
    width: 75%;
}

.page-header {
    margin-top: 20px;
}

.tab-content {
    overflow-y: auto;
    overflow-x: hidden;
}

/* Tag related CSS */

body {
    font: 10pt sans;
    z-index: -1;
}

div.table_content {
    width:80px;
    text-align:center;
}

div.table_description {
    width:100px;
}

table.legend_table {
    font-size: 11px;
    border-width:1px;
    border-color:#d3d3d3;
    border-style:solid;
}

table.legend_table,td {
    border-width:1px;
    border-color:#d3d3d3;
    border-style:solid;
    padding: 2px;
}

table td {
    font-size: 12px;
    border-width:0px;
    border-color:#d3d3d3;
    border-style:solid;
}