Source: intelmq-manager
Maintainer: IntelMQ Team <intelmq-team@cert.at>
Uploaders: Birger Schacht <schacht@cert.at>,
           Sebastian Wagner <wagner@cert.at>
Section: net
Priority: optional
Build-Depends: debhelper-compat (= 11),
               dh-python,
               python3-all,
               python3-setuptools,
               po-debconf,
               python3-mako
Standards-Version: 4.5.0
Homepage: https://github.com/certtools/intelmq-manager/

Package: intelmq-manager
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Recommends: python3-intelmq-api
Suggests: python3-mako
Description: Graphical interface to manage configurations for the IntelMQ framework.
 A IntelMQ configuration is a set of config files which describe which
 bots and processing steps should be run in which order. It is similar
 to describing the dataflow in dataflow oriented languages.
 IntelMQ Manager provides an intuitive interface for specifying the data flow
 in IntelMQ.
