#!/bin/sh -e
# shamelessly riped (and adapted) from nagios3 package...

. /usr/share/debconf/confmodule

db_fget intelmq-manager/password seen || true
password_seen="$RET"

if [ "$1" = "reconfigure" ]; then
    password_seen=false
fi

if [ "$rootpassword_seen" != "true" ]; then
    db_input high intelmq-manager/user || true
    while [ ! "$passwordsmatch" ]; do
      db_input high intelmq-manager/password || true
      db_input high intelmq-manager/password-repeat || true
      db_go || true
      db_get intelmq-manager/password
      p1="$RET"
      db_get intelmq-manager/password-repeat
      p2="$RET"
      if [ "$p1" = "$p2" ]; then
          passwordsmatch="yes"
      else
        db_fset intelmq-manager/password seen false
        db_fset intelmq-manager/password-repeat seen false
        db_fset intelmq-manager/password-mismatch seen false
        db_input critical intelmq-manager/password-mismatch || true
      fi
    done
fi
db_go || true
