#!/usr/bin/make -f
%:
	dh $@

override_dh_fixperms:
	dh_fixperms

override_dh_install:
	dh_install
	sed -i 's@/usr/local/bin/@/usr/bin/@' debian/intelmq-manager/usr/share/intelmq-manager/html/php/config.php
