

<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    ???
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="?page=homepage"><img height="24px"  style="margin-right:10px" src="./images/logo2.png"><img height="20px" src="./images/logo_no_margin_6.png"/></a>
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-left">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <span class="top-menu-text"><img src="./images/config.png" width="24px" height="24px">&nbsp;Configuration <i class="fa fa-caret-down"></i></span>
            </a>
            <ul class="dropdown-menu dropdown-messages">
                <li>
                    <a href="?page=configs&configuration=new">
                        New Configuration
                    </a>
                </li>
                <li>
                    <a href="?page=configs">
                        Load Configuration
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="?page=management">
                <span class="top-menu-text"><img src="./images/botnet.png" width="24px" height="24px">&nbsp;Management</span>
            </a>
        </li>
        <li>
            <a href="?page=monitor">
                <span class="top-menu-text"><img src="./images/monitor.png" width="24px" height="24px">&nbsp;Monitor</span>
            </a>
        </li>
    </ul>
    <!-- /.navbar-top-links -->
</nav>

<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
        </ul>
    </div>
</div>


<!-- Page Content -->
<div id="page-wrapper-with-sidebar">
    <div class="row">
        <div id="graph-container" class="col-md-12">
            <h1 style="width: 100%; text-align:center;"> Page Under Construction... </h1>
        </div>
    </div>
</div>
